<!DOCTYPE html>
<html>
  <head>
    <title>StoryNewsletter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
	
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="/stories">All Stories</a>
	  	<a class="navbar-brand" href="/stories/new">Create A New Story</a>
	</nav>

  <body class="container-fluid">

    <%= yield %>

  </body>
  <br>
  <br>

</html>


